.box {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 320px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  z-index: 0;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.box:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.box > h2 {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  word-break: keep-all;
  word-wrap: break-word;
  margin-bottom: 0px;
  transition: all 0.4s;
}

.box > h3 {
  position: relative;
  display: block;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1;
  margin-top: 5px;
  transition: all 0.4s;
}

.box > p {
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  bottom: 20px;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.4;
}

.box > p:last-child {
  margin-bottom: 0px;
}

.box > h2,
.box > h3,
.box > h4,
.box > span,
.box > p {
  color: var(--zinc100);
}

/* Moving Item */

.box .item {
  position: absolute;
  display: grid;
  top: 30px;
  right: 30px;
  place-items: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.box:hover .item {
  opacity: 1;
}

.box .loader {
  display: block;
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;
}

.box .loader::before,
.box .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
}

.box .loader::before,
.box .loader::after {
  background-color: var(--zinc100);
}

.box .loader::before {
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  animation: loader1 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.box .loader::after {
  top: 50%;
  left: 50%;
  animation: loader2 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader1 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes loader2 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

/* Tablet */
@media (max-width: 992px) {
  .box > p {
    width: calc(100% - 40px);
  }
}

/* Mobile */
@media (max-width: 688px) {
  .box > h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .box > h3 {
    font-size: 16px;
  }

  .box > p {
    font-size: 14px;
  }
}
