/*
 * ──────────────────────────────
 * BREADCRUMBS
 * ──────────────────────────────
 */

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-left: 30px;
}

.breadcrumbs > li {
  margin-right: 10px;
  font-size: 12px;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--zinc100);
}

.breadcrumbs > li:last-child {
  margin-right: 0px;
}

.breadcrumbs > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--zinc100);
  transition: all 0.2s;
}

.breadcrumbs > li > a:hover {
  color: var(--zinc300);
}

/* Tablet */
@media (max-width: 992px) {
  .breadcrumbs > li > a {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 688px) {
  .breadcrumbs > li > a {
    font-size: 12px;
  }
}
