.cubeFra,
.cubeDeu,
.cubeRus {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

.cubeFra > div,
.cubeDeu > div,
.cubeRus > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cubeFra > div > span,
.cubeDeu > div > span,
.cubeRus > div > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------- */
.cubeFra > div > span {
  background: linear-gradient(rgba(3, 105, 161, 0.1), rgba(56, 189, 248, 0.5));
}

.cubeDeu > div > span {
  background: linear-gradient(rgba(161, 98, 7, 0.1), rgba(252, 211, 77, 0.5));
}

.cubeRus > div > span {
  background: linear-gradient(
    rgba(109, 40, 217, 0.1),
    rgba(196, 181, 253, 0.5)
  );
}
/* ----------------------------------------------------------- */

.cubeFra > div > span:nth-child(1),
.cubeDeu > div > span:nth-child(1),
.cubeRus > div > span:nth-child(1) {
  transform: rotateY(calc(90deg * 0)) translateZ(75px);
}

.cubeFra > div > span:nth-child(2),
.cubeDeu > div > span:nth-child(2),
.cubeRus > div > span:nth-child(2) {
  transform: rotateY(calc(90deg * 1)) translateZ(75px);
}

.cubeFra > div > span:nth-child(3),
.cubeDeu > div > span:nth-child(3),
.cubeRus > div > span:nth-child(3) {
  transform: rotateY(calc(90deg * 2)) translateZ(75px);
}

.cubeFra > div > span:nth-child(4),
.cubeDeu > div > span:nth-child(4),
.cubeRus > div > span:nth-child(4) {
  transform: rotateY(calc(90deg * 3)) translateZ(75px);
}

.topFra,
.topDeu,
.topRus {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transform: rotateX(90deg) translateZ(75px);
}

.bottomFra,
.bottomDeu,
.bottomRus {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transform: rotateX(90deg) translateZ(-75px);
}

/* ----------------------------------------------------------- */
.topFra {
  background-color: rgba(3, 105, 161, 0.1);
}
.bottomFra {
  background-color: rgba(56, 189, 248, 0.5);
}

.topDeu {
  background-color: rgba(161, 98, 7, 0.1);
}
.bottomDeu {
  background-color: rgba(252, 211, 77, 0.5);
}

.topRus {
  background-color: rgba(109, 40, 217, 0.1);
}
.bottomRus {
  background-color: rgba(196, 181, 253, 0.5);
}
/* ----------------------------------------------------------- */

.topFra::before,
.topDeu::before,
.topRus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transform: translateZ(-200px);
  filter: blur(20px);
}

/* ----------------------------------------------------------- */
.topFra::before {
  background-color: var(--sky400);
  box-shadow: 0 0 120px var(--sky400), 0 0 200px var(--sky400);
}

.topDeu::before {
  background-color: var(--amber300);
  box-shadow: 0 0 120px var(--amber300), 0 0 200px var(--amber300);
}

.topRus::before {
  background-color: var(--violet300);
  box-shadow: 0 0 120px var(--violet300), 0 0 200px var(--violet300);
}
/* ----------------------------------------------------------- */
