.cubeFra1,
.cubeFra2,
.cubeFra3,
.cubeDeu1,
.cubeDeu2,
.cubeDeu3,
.cubeRus1,
.cubeRus2,
.cubeRus3 {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

.cubeFra1 > div,
.cubeFra2 > div,
.cubeFra3 > div,
.cubeDeu1 > div,
.cubeDeu2 > div,
.cubeDeu3 > div,
.cubeRus1 > div,
.cubeRus2 > div,
.cubeRus3 > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cubeFra1 > div > span,
.cubeFra2 > div > span,
.cubeFra3 > div > span,
.cubeDeu1 > div > span,
.cubeDeu2 > div > span,
.cubeDeu3 > div > span,
.cubeRus1 > div > span,
.cubeRus2 > div > span,
.cubeRus3 > div > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------- */
.cubeFra1 > div > span {
  background: linear-gradient(var(--sky400), var(--sky200));
}
.cubeFra2 > div > span {
  background: linear-gradient(var(--blue600), var(--sky300));
}
.cubeFra3 > div > span {
  background: linear-gradient(var(--blue900), var(--sky400));
}

.cubeDeu1 > div > span {
  background: linear-gradient(var(--amber200), var(--amber100));
}
.cubeDeu2 > div > span {
  background: linear-gradient(var(--amber300), var(--amber200));
}
.cubeDeu3 > div > span {
  background: linear-gradient(var(--yellow600), var(--amber300));
}

.cubeRus1 > div > span {
  background: linear-gradient(var(--violet400), var(--violet200));
}
.cubeRus2 > div > span {
  background: linear-gradient(var(--purple600), var(--violet300));
}
.cubeRus3 > div > span {
  background: linear-gradient(var(--purple900), var(--violet400));
}
/* ----------------------------------------------------------- */

.cubeFra1 > div > span:nth-child(1),
.cubeFra2 > div > span:nth-child(1),
.cubeFra3 > div > span:nth-child(1),
.cubeDeu1 > div > span:nth-child(1),
.cubeDeu2 > div > span:nth-child(1),
.cubeDeu3 > div > span:nth-child(1),
.cubeRus1 > div > span:nth-child(1),
.cubeRus2 > div > span:nth-child(1),
.cubeRus3 > div > span:nth-child(1) {
  transform: rotateY(calc(90deg * 0)) translateZ(75px);
}

.cubeFra1 > div > span:nth-child(2),
.cubeFra2 > div > span:nth-child(2),
.cubeFra3 > div > span:nth-child(2),
.cubeDeu1 > div > span:nth-child(2),
.cubeDeu2 > div > span:nth-child(2),
.cubeDeu3 > div > span:nth-child(2),
.cubeRus1 > div > span:nth-child(2),
.cubeRus2 > div > span:nth-child(2),
.cubeRus3 > div > span:nth-child(2) {
  transform: rotateY(calc(90deg * 1)) translateZ(75px);
}

.cubeFra1 > div > span:nth-child(3),
.cubeFra2 > div > span:nth-child(3),
.cubeFra3 > div > span:nth-child(3),
.cubeDeu1 > div > span:nth-child(3),
.cubeDeu2 > div > span:nth-child(3),
.cubeDeu3 > div > span:nth-child(3),
.cubeRus1 > div > span:nth-child(3),
.cubeRus2 > div > span:nth-child(3),
.cubeRus3 > div > span:nth-child(3) {
  transform: rotateY(calc(90deg * 2)) translateZ(75px);
}

.cubeFra1 > div > span:nth-child(4),
.cubeFra2 > div > span:nth-child(4),
.cubeFra3 > div > span:nth-child(4),
.cubeDeu1 > div > span:nth-child(4),
.cubeDeu2 > div > span:nth-child(4),
.cubeDeu3 > div > span:nth-child(4),
.cubeRus1 > div > span:nth-child(4),
.cubeRus2 > div > span:nth-child(4),
.cubeRus3 > div > span:nth-child(4) {
  transform: rotateY(calc(90deg * 3)) translateZ(75px);
}

.topFra1,
.topFra2,
.topFra3,
.topDeu1,
.topDeu2,
.topDeu3,
.topRus1,
.topRus2,
.topRus3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transform: rotateX(90deg) translateZ(75px);
}

/* ----------------------------------------------------------- */
.topFra1 {
  background-color: var(--sky400);
}
.topFra2 {
  background-color: var(--blue600);
}
.topFra3 {
  background-color: var(--blue900);
}

.topDeu1 {
  background-color: var(--amber200);
}
.topDeu2 {
  background-color: var(--amber300);
}
.topDeu3 {
  background-color: var(--yellow600);
}

.topRus1 {
  background-color: var(--violet400);
}
.topRus2 {
  background-color: var(--purple600);
}
.topRus3 {
  background-color: var(--purple900);
}
/* ----------------------------------------------------------- */

.topFra1::before,
.topFra2::before,
.topFra3::before,
.topDeu1::before,
.topDeu2::before,
.topDeu3::before,
.topRus1::before,
.topRus2::before,
.topRus3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transform: translateZ(-200px);
  filter: blur(20px);
}

/* ----------------------------------------------------------- */
.topFra1::before {
  background-color: var(--sky200);
  box-shadow: 0 0 1px var(--sky200);
}
.topFra2::before {
  background-color: var(--sky300);
  box-shadow: 0 0 100px var(--sky300), 0 0 100px var(--sky300);
}
.topFra3::before {
  background-color: var(--sky400);
  box-shadow: 0 0 120px var(--sky400), 0 0 200px var(--sky400),
    0 0 300px var(--sky400);
}

.topDeu1::before {
  background-color: var(--amber100);
  box-shadow: 0 0 1px var(--amber100);
}
.topDeu2::before {
  background-color: var(--amber200);
  box-shadow: 0 0 100px var(--amber200), 0 0 100px var(--amber200);
}
.topDeu3::before {
  background-color: var(--amber300);
  box-shadow: 0 0 120px var(--amber300), 0 0 200px var(--amber300),
    0 0 300px var(--amber300);
}

.topRus1::before {
  background-color: var(--violet200);
  box-shadow: 0 0 1px var(--violet200);
}
.topRus2::before {
  background-color: var(--violet300);
  box-shadow: 0 0 120px var(--violet300), 0 0 120px var(--violet300);
}
.topRus3::before {
  background-color: var(--violet400);
  box-shadow: 0 0 120px var(--violet400), 0 0 200px var(--violet400),
    0 0 300px var(--violet400);
}
/* ----------------------------------------------------------- */
