/*
 * ──────────────────────────────
 * STYLED-BOX
 * ──────────────────────────────
 */

.styledBox {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 320px;
  min-height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  z-index: 0;
  text-decoration: none;
  border: 1px solid var(--zinc700);
  background: transparent;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.styledBox:hover {
  cursor: pointer;
  background-color: var(--zinc900);
}

.styledBox > h2 {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  word-break: keep-all;
  word-wrap: break-word;
  margin-bottom: 0px;
  transition: all 0.4s;
}

.styledBox > h3 {
  position: relative;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1;
  margin-top: 5px;
  transition: all 0.4s;
}

.styledBox > p {
  position: absolute;
  width: calc(60% - 40px);
  left: 20px;
  bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.4;
}

.styledBox > p:last-child {
  margin-bottom: 0px;
}

.styledBox > h2,
.styledBox > h3,
.styledBox > h4,
.styledBox > span,
.styledBox > p {
  color: var(--zinc300);
}

/* Moving Item */

.styledBox .item {
  position: absolute;
  display: grid;
  top: 30px;
  right: 30px;
  place-items: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.styledBox:hover .item {
  opacity: 1;
}

.styledBox .loader {
  display: block;
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;
}

.styledBox .loader::before,
.styledBox .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
}

.styledBox .loader::before,
.styledBox .loader::after {
  background-color: var(--amber400);
}

.styledBox .loader::before {
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  animation: loader1 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.styledBox .loader::after {
  top: 50%;
  left: 50%;
  animation: loader2 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader1 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes loader2 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

/* Tablet */
@media (max-width: 992px) {
  .styledBox > h2 {
    font-size: 40px;
  }

  .styledBox > h3 {
    font-size: 24px;
  }

  .styledBox > p {
    width: calc(100% - 40px);
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 688px) {
  .styledBox > h2 {
    font-size: 32px;
  }

  .styledBox > h3 {
    font-size: 16px;
  }

  .styledBox > p {
    font-size: 15px;
  }
}
