/*
 * ──────────────────────────────
 * STYLE-SECTION
 * ──────────────────────────────
 */

.styledSectionDeu {
  position: relative;
  width: calc(100% - 60px);
  height: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 30px;
  outline: none;
  z-index: 0;
  margin-bottom: 30px;
  transition: all 0.4s;
  background-color: transparent;
  border: 1px solid var(--amber400);
  border-radius: 10px;
}

.styledSectionDeu:hover {
  cursor: default;
}

.styledSectionDeu .styledSectionDeuIcon {
  position: absolute;
  display: block;
  left: 20px;
  top: 20px;
  margin-bottom: 0px;
  text-align: left;
}

.styledSectionDeu .styledSectionDeuIcon > span {
  font-size: 30px;
  margin-bottom: 0px;
  cursor: default;
}

.styledSectionDeu > p {
  position: absolute;
  display: block;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  margin-bottom: 0px;
  text-align: left;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.3;
}

@media (max-width: 688px) {
  .styledSectionDeu > p {
    font-size: 16px;
  }
}

.styledSectionDeu > p,
.styledSectionDeu .styledSectionDeuIcon > span {
  color: var(--amber400);
}

/* Moving Item */

.styledSectionDeu .item {
  position: absolute;
  display: grid;
  top: 40px;
  right: 40px;
  place-items: center;
  opacity: 1;
  transition: all 0.4s ease;
}

.styledSectionDeu .loader {
  display: block;
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;
}

.styledSectionDeu .loader::before,
.styledSectionDeu .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  cursor: default;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: loader 1.2s ease-in-out infinite;
}

.styledSectionDeu .loader::before {
  left: calc(50% - 15px);
}

.styledSectionDeu .loader::after {
  left: calc(50% + 10px);
  animation-delay: -0.4s;
}

.styledSectionDeu .loader::before,
.styledSectionDeu .loader::after {
  background-color: var(--amber400);
}

@keyframes loader {
  0%,
  100% {
    transform: translateY(-15px);
  }

  44% {
    transform: translateY(15px);
  }
}
