/*
 * ──────────────────────────────
 * STYLED-BOX
 * ──────────────────────────────
 */

.styledBoxHero {
  position: relative;
  width: 100%;
  height: calc(50% - 5px);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  z-index: 0;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid var(--stone700);
  background-color: transparent;
  transition: all 0.4s;
}

.styledBoxHero:hover {
  background-color: var(--stone200);
  cursor: pointer;
}

.styledBoxHero > h2 {
  position: relative;
  display: block;
  width: calc(50% - 30px);
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: all 0.4s;
}

.styledBoxHero > h3 {
  position: relative;
  display: block;
  width: calc(50% - 30px);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1;
  transition: all 0.4s;
}

.styledBoxHero > p {
  position: absolute;
  width: calc(50% - 30px);
  right: 30px;
  bottom: 30px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.4;
}

.styledBoxHero > p:last-child {
  margin-bottom: 0px;
}

.styledBoxHero > h2,
.styledBoxHero > h3,
.styledBoxHero > h4,
.styledBoxHero > span,
.styledBoxHero > p {
  color: var(--stone700);
}

.arrow {
  position: absolute;
  top: 30px;
  right: 80px;
  transform: rotate(270deg);
  z-index: 99;
  opacity: 0;
  transition: 0.4s all;
}

.styledBoxHero:hover .arrow {
  cursor: pointer;
  opacity: 1;
}

.arrow span {
  display: block;
  width: 1.2vw;
  height: 1.2vw;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1.5s infinite;
}

.styledBoxHero .arrow span {
  border-bottom: 3px solid var(--stone700);
  border-right: 3px solid var(--stone700);
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 1200px) {
  .styledBoxHero > h2 {
    font-size: 44px;
  }

  .styledBoxHero > h3 {
    font-size: 18px;
  }

  .styledBoxHero > p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .styledBoxHero {
    padding: 20px;
  }

  .styledBoxHero > h2 {
    font-size: 36px;
    margin-bottom: 5px;
  }

  .styledBoxHero > h3 {
    font-size: 16px;
  }

  .styledBoxHero > p {
    font-size: 15px;
    line-height: 1.2;
    width: calc(100% - 40px);
    right: 20px;
    bottom: 20px;
  }
}

/* Mobile */
@media (max-width: 688px) {
  .styledBoxHero {
    height: 200px;
    padding: 20px;
  }

  .styledBoxHero > h2 {
    position: absolute;
    width: calc(100% - 40px);
    font-size: 44px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0px;
    text-align: center;
  }

  .styledBoxHero > h3 {
    position: absolute;
    width: calc(100% - 40px);
    font-size: 17px;
    top: 72%;
    transform: translateY(-50%);
    text-align: center;
  }

  .styledBoxHero > p {
    display: none;
  }

  .arrow {
    position: absolute;
    top: 40px;
    right: 50%;
    transform: rotate(270deg), translateX(-50%);
    z-index: 99;
    opacity: 1;
    transition: 0.4s all;
  }

  .arrow span {
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1.5s infinite;
  }

  .styledBoxHero .arrow span {
    border-bottom: 2px solid var(--stone700);
    border-right: 2px solid var(--stone700);
  }
}

@media (max-width: 480px) {
  .styledBoxHero > h2 {
    font-size: 36px;
  }

  .styledBoxHero > h3 {
    font-size: 16px;
  }

  .arrow span {
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1.5s infinite;
  }
}
