/*
 * ──────────────────────────────
 * STYLE-SECTION
 * ──────────────────────────────
 */

.styledSectionFra {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 20px;
  margin: 0px;
  outline: none;
  z-index: 0;
  margin-bottom: 20px;
  transition: all 0.4s;
  background: var(--zinc900);
  border-radius: 10px;
}

.styledSectionFra:hover {
  cursor: default;
}

.styledSectionFra .styledSectionFraIcon {
  position: absolute;
  display: block;
  left: 20px;
  top: 20px;
  margin-bottom: 0px;
  text-align: left;
}

.styledSectionFra .styledSectionFraIcon > span {
  font-size: 30px;
  margin-bottom: 0px;
  cursor: default;
}

.styledSectionFra > p {
  position: absolute;
  display: block;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  margin-bottom: 0px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.3;
}

@media (max-width: 688px) {
  .styledSectionFra > p {
    font-size: 16px;
    font-weight: 400;
  }
}

.styledSectionFra > p,
.styledSectionFra .styledSectionFraIcon > span {
  color: var(--sky500);
}

/* Moving Item */

.styledSectionFra .item {
  position: absolute;
  display: grid;
  top: 40px;
  right: 40px;
  place-items: center;
  opacity: 1;
  transition: all 0.4s ease;
}

.styledSectionFra .loader {
  display: block;
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;
}

.styledSectionFra .loader::before,
.styledSectionFra .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  cursor: default;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: loader 1.2s ease-in-out infinite;
}

.styledSectionFra .loader::before {
  left: calc(50% - 15px);
}

.styledSectionFra .loader::after {
  left: calc(50% + 10px);
  animation-delay: -0.4s;
}

.styledSectionFra .loader::before,
.styledSectionFra .loader::after {
  background-color: var(--sky500);
}

@keyframes loader {
  0%,
  100% {
    transform: translateY(-15px);
  }

  44% {
    transform: translateY(15px);
  }
}
