/*
 * ──────────────────────────────
 * TABLE
 * ──────────────────────────────
 */

.tableVertical {
  display: table;
  table-layout: fixed;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid var(--stone400);
  border-radius: 10px;
}

.row {
  display: table-row;
}

.rowHeader {
  display: table-cell;
  text-align: center;
  padding: 10px;
}

.rowHeader > p {
  background: var(--stone500);
  color: var(--stone100);
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.column {
  display: table-cell;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
}

.column > p {
  color: var(--stone700);
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0px;
  transition: 0.3s all;
}

.column:hover {
  cursor: pointer;
}

.column:hover > p {
  border: 1px solid var(--stone700);
}

/* Tablet */
@media (max-width: 992px) {
  .rowHeader > p {
    font-size: 18px;
  }

  .column > p {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 688px) {
  .rowHeader > p {
    font-size: 14px;
  }

  .column > p {
    font-size: 14px;
  }
}
