.articleTitle {
  padding: 20px;
}

.articleTitle > h1,
.articleTitle > h3 {
  margin-bottom: 10px;
}

.articleBox {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.articleBox > p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.articleBox > p:last-child {
  margin-bottom: 0px;
}

@media (max-width: 992px) {
}

@media (max-width: 688px) {
}
