.exploreWrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  /* background: url("../public/images/explore.jpg");
  background-position-x: center;
  background-size: cover; */
  background: linear-gradient(
    -45deg,
    var(--violet600),
    var(--zinc900),
    var(--sky600)
  );
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.stars > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  opacity: 0;
  background-color: var(--zinc100);
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
    0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.5);
  animation: animate 3s ease-out infinite;
}

.stars > span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, var(--zinc100), transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
  }

  20% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.stars > span:nth-child(1) {
  top: 0px;
  right: 100px;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.stars > span:nth-child(2) {
  top: 0px;
  right: 180px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.stars > span:nth-child(3) {
  top: 80px;
  right: 100px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.stars > span:nth-child(4) {
  top: 0px;
  right: 280px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.stars > span:nth-child(5) {
  top: 0px;
  right: 600px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.stars > span:nth-child(6) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}

.stars > span:nth-child(7) {
  top: 300px;
  right: 100px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}

.stars > span:nth-child(8) {
  top: 0px;
  right: 800px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.stars > span:nth-child(9) {
  top: 0px;
  right: 1100px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

.stars > span:nth-child(10) {
  top: 0px;
  right: 550px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

.stars > span:nth-child(11) {
  top: 200px;
  right: -400px;
  left: initial;
  animation-delay: 1.75s;
  animation-duration: 2.25s;
}

.stars > span:nth-child(12) {
  top: 0px;
  right: 1400px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 1.25s;
}

.stars > span:nth-child(13) {
  top: 100px;
  right: -300px;
  left: initial;
  animation-delay: 2s;
  animation-duration: 2s;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.rippleBox {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  background-color: transparent;
}

.rippleBox span {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  animation: ripple 4s linear infinite;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 800px;
    height: 800px;
    opacity: 0;
  }
}

@media (max-width: 720px) {
  .rippleBox {
    width: 400px;
    height: 400px;
  }

  @keyframes ripple {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      width: 400px;
      height: 400px;
      opacity: 0;
    }
  }
}

@media (max-width: 450px) {
  .ripple {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main {
  display: block;
  width: 100%;
  max-width: 992px;
  height: 100vh;
  margin: 0 auto;
  padding: 80px;
}

/* Mobile */
@media (max-width: 688px) {
  .main {
    padding: 50px;
  }
}

.btnFrench,
.btnGerman,
.btnRussian {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btnFrench:hover,
.btnGerman:hover,
.btnRussian:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.btnFrenchTitle,
.btnGermanTitle,
.btnRussianTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0px;
  color: var(--zinc100);
  transition: all 0.4s;
}

.btnFrench:hover .btnFrenchTitle,
.btnGerman:hover .btnGermanTitle,
.btnRussian:hover .btnRussianTitle {
  letter-spacing: 5px;
  text-indent: 5px;
}

@keyframes float1 {
  0%,
  100% {
    transform: translate(-10px, -10px);
  }

  25% {
    transform: translate(10px, -10px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  75% {
    transform: translate(-10px, 10px);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(10px, 10px);
  }

  25% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(-10px, -10px);
  }

  75% {
    transform: translate(10px, -10px);
  }
}
