.bg {
  position: relative;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--black),
    var(--yellow950),
    var(--amber400)
  );
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
}

.bgDark {
  position: relative;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--black),
    var(--zinc950),
    var(--yellow900)
  );
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

.title {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  padding-top: 80px;
}

.titleLeft {
  width: 60%;
}

.titleRight {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleFull {
  width: 100%;
}

/* Mobile */
@media (max-width: 688px) {
  .title {
    flex-direction: column;
  }

  .titleLeft {
    width: 100%;
    height: auto;
  }

  .titleRight {
    width: 100%;
    height: 300px;
  }
}

.title > h1 {
  display: block;
  width: calc(100% - 60px);
  font-weight: 600;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title > h2 {
  display: block;
  width: calc(100% - 60px);
  font-weight: 400;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
}

.title > h3 {
  display: block;
  width: calc(100% - 60px);
  font-weight: 400;
  font-family: "Manrope", "Noto Sans KR", "Vazirmatn", sans-serif;
}

.title > p {
  margin-bottom: 30px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/* Mobile */
@media (max-width: 688px) {
  .menu {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
}

.contents {
  display: block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
