.bg {
  position: relative;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--black),
    var(--green950),
    var(--emerald400)
  );
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
}

.bgDark {
  position: relative;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--black),
    var(--zinc950),
    var(--emerald900)
  );
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: block;
  width: 100%;
  padding: 30px;
  padding-top: 80px;
}

.title > h1 {
  display: block;
  width: calc(100% - 60px);
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 10px;
}

.title > h2 {
  display: block;
  width: calc(100% - 60px);
  font-size: 28px;
  font-weight: 500;
  font-family: "Inter", "Vazirmatn", sans-serif;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/* Mobile */
@media (max-width: 688px) {
  .menu {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
}

.contents {
  display: block;
  width: 100%;
  padding: 30px;
  padding-top: 0px;
}
